<template>
  <header class="p-3 mb-3 border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none navbar__icon-container">
          <img src="@/assets/beer-icon.png" alt="beer icon" class="navbar__icon">
        </a>
        <ProfileItem/>
      </div>
    </div>
  </header>
</template>

<script>
import ProfileItem from "@/components/Header/ProfileItem";

export default {
  name: "Header",
  components: {
    ProfileItem
  }
}
</script>

<style scoped>
.navbar__icon-container {
  border: 1px solid #c0b4b4;
  border-radius: 50%;
  padding: 6px;
}

.navbar__icon {
  max-width: 60px;
}
</style>