<template>
  <div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img v-bind:src="imgSrc" alt="mdo" width="45" height="45" class="rounded-circle border border-warning">
    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
      <li><a class="dropdown-item" href="#">{{ name }}</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Profile</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  <ProfileModal :person="person"/>

  </div>

</template>

<script>
import avatar from "./../../assets/user.png"
import ProfileModal from "@/components/Common/ProfileModal";

export default {
  name: "ProfileItem",
  components: {
    ProfileModal
  },
  data() {
    return {
      imgSrc: avatar,
      name: `Гость`,
      person: {}
    }
  },
  async created() {
    await fetch(`https://random-data-api.com/api/users/random_user`)
        .then(res => res.json())
        .then(result => {
          this.person = {...result};
          return result
        })
        .then(({avatar, username}) => {
          this.imgSrc = avatar;
          this.name = username;
        });
  }
}
</script>

<style scoped>

</style>