<template>
  <div>
    <div class="beer__container">
      <div class="bottle__content">
        <div v-if="loading">
          <Spinner/>
        </div>
        <div v-else-if="waitError">
          Что то пошло не так, выпейте лучше Жигулевского
        </div>
        <div v-else>
          <h2 class="bottle__title">{{ beerContent.brand }}</h2>
          <p class="bottle__name">{{ beerContent.name }}</p>
          <div class="d-flex bottle__params">
            <div class="align-self-center flex-fill">{{ beerContent.alcohol }} Alc</div>
            <div class="align-self-center flex-fill">{{ beerContent.ibu }}</div>
          </div>
          <div class="beer__info">
            <div>{{beerContent.blg}}</div>
            <div>Style: {{beerContent.style}}</div>
            <div>Style: {{beerContent.style}}</div>
            <div>Yeast: {{beerContent.yeast}}</div>
            <div>Malts: {{beerContent.malts}}</div>
          </div>
        </div>
      </div>
      <img src="@/assets/bottle.png" alt="" class="bottle__image">
    </div>
  </div>
</template>

<script>
import Spinner from "@/components/Common/Spinner";

export default {
  name: "BeerBottle",
  components: {
    Spinner
  },
  data() {
    return {
      loading: true,
      waitError: false,
      beerContent: {}
    }
  },
  async created() {

    await fetch(`https://random-data-api.com/api/beer/random_beer`)
        .then(res => res.json())
        .then(result => {
          this.beerContent = {...result};
          this.loading = false;
        })
        .catch(err => {
          this.loading = false;
          this.waitError = true;
          throw new Error(err)
        })

  },
  waitErrorFunc() {
    this.wait = false;
    this.waitError = true;
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.beer__container {
  position: relative;

}

.bottle__content {
  position: absolute;
  background: antiquewhite;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding-top: .7rem;
  border-radius: .3rem;
}

.bottle__title {
  background: #e73a3a;
  border-bottom: .1rem black solid;
  font-family: 'Anton', sans-serif;
  padding-top: 1rem;
}

.bottle__name {
  font-size: 1.6rem;
}

.bottle__params {
  padding: .7rem 0;
  font-weight: bold;
}
.beer__info {
  text-align: left;
  padding-left: .3rem;
}
.beer__info div {
  padding-top: .3rem;
}
</style>