<template>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>First Name: {{person.first_name}}</p>
          <p>Last Name: {{person.last_name}}</p>
          <p>Email: {{person.email}}</p>
          <p>Gender: {{person.gender}}</p>
          <p>Phone number: {{person.phone_number}}</p>
          <p>Date of birth: {{person.date_of_birth}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfileModal",
  props: {
    person: {
      first_name: String,
      last_name: String,
      email: String,
      gender: String,
      phone_number: String,
      date_of_birth: String
    }
  }
}
</script>

<style scoped>
  .modal-body p {
    text-align: left;
  }
</style>