<template>
  <div id="app">
    <Header/>
    <main>
      <div class="container content d-flex justify-content-center">
        <BeerBottle/>
      </div>
    </main>
  </div>
</template>

<script>
import "bootstrap";
import BeerBottle from "@/components/BeerBottle";
import Header from "@/components/Header/Header";

export default {
  name: 'App',
  components: {
    BeerBottle,
    Header
  }
}
</script>

<style>
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#app {
  font-family: 'Roboto', sans-serif;
}
</style>
